/* General table styling */
table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 50px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    text-align: center;
    vertical-align: middle;
    border: 2px solid #ccc;
    background-color: #f9f9f9; /* Light background */
    position: relative;
}

/* Style for the span inside each td */
td span {
    display: inline-block;
    width: 100%; /* Ensure span takes the full width */
    height: 100%; /* Ensurle span takes the full height */
    line-height: 20px; /* Vertically center text, match td height */
    font-size: 10px;
    color: #333; /* Text color */
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}
td span.selected{
    background-color: #56c691;
}
td span.sold{
    background-color: #b02a37;
    cursor: default;
    pointer-events: none;
}
td span.available{
    background-color: #f9f9f9;
}
/* For spans with no text */
td span:empty::after {
    content: '\00a0'; /* Non-breaking space to reserve space */
    display: inline-block;
}
.tbl-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.tbl-column{
    padding: 10px;
    user-select: none;
}

.tbl-column.active{
    border: 1px solid #08c3f3;    
}
.dn{
    display: none;
}
.movieContainer{
    display: flex;
    width: 100%;
}
.tbl-container{
    display: flex;
    width: 12%;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
}
#divSeatLayout{
    display: flex;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
}
.layout{
    display: flex;
    width: 80%;
}
.btnPrint{
    width: 20%
}